<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeandweb</key>
	<dict>
		<key>generator</key>
		<string>TexturePacker 4.12.0 - https://www.codeandweb.com/texturepacker</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cef6e1ea85fb395493ecdc1a43be8310:412f07e8fbf6a803fddabc454a2061de:f84f5367c53001fbdfce2d539bbc522c$</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>idle.1.png</string>
			<key>size</key>
			<string>{201,62}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle0.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{56,54}</string>
					<key>textureRect</key>
					<string>{{1,1},{56,54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle1.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{36,59}</string>
					<key>textureRect</key>
					<string>{{59,1},{36,59}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle2.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{43,60}</string>
					<key>textureRect</key>
					<string>{{97,1},{43,60}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle3.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{58,52}</string>
					<key>textureRect</key>
					<string>{{142,1},{58,52}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
